{% extends 'base.html' %} {% block content %}
<br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top" style="border-radius: 18px; border: 1px #000">
      <div class="card-body" style="text-align: center; border-radius: 20px; border: 1px #000">
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <br><br>
        <p class=" text-muted"><h5>{{ post.author }} | {{ post.created_on }}</h5></p>
        
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
    {% block sidepost %} {% include 'sidepost.html' %} {% endblock sidepost %}
  </div>
</div>

{% endblock content %}