{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
<div class="trends">
    <div class="bbb_background"></div>
    <div class="bbb_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="bbb_container">
                    <h2 class="bbb_title">Latest Products 2019</h2>
                    <div class="bbb_text">
                        <p>Find the latest products in 2019</p>
                    </div>
                    <div class="bbb_slider_nav">
                        <div class="bbb_prev bbb_nav"><i class="fas fa-angle-left ml-auto"></i></div>
                        <div class="bbb_next bbb_nav"><i class="fas fa-angle-right ml-auto"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="bbb_slider_container">
                    <div class="owl-carousel owl-theme bbb_slider">
                        <div class="owl-item">
                            <div class="bbb_item is_new">
                                <div class="bbb_image d-flex flex-column align-items-center justify-content-center"><img src="https://i.imgur.com/9XOqCSE.jpg" alt=""></div>
                                <div class="bbb_content">
                                    <div class="bbb_category"><a href="#">Smart Phones</a></div>
                                    <div class="bbb_info clearfix">
                                        <div class="bbb_name"><a href="#">Alcatel Mobile</a></div>
                                        <div class="bbb_price">₹13790</div>
                                    </div>
                                </div>
                                <ul class="bbb_marks">
                                    <li class="bbb_mark bbb_discount">-25%</li>
                                    <li class="bbb_mark bbb_new">new</li>
                                </ul>
                                <div class="bbb_fav"><i class="fas fa-heart"></i></div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="bbb_item">
                                <div class="bbb_image d-flex flex-column align-items-center justify-content-center"><img src="https://i.imgur.com/PIX2bzP.jpg" alt=""></div>
                                <div class="bbb_content">
                                    <div class="bbb_category"><a href="#">LED TV</a></div>
                                    <div class="bbb_info clearfix">
                                        <div class="bbb_name"><a href="#">MI LED</a></div>
                                        <div class="bbb_price">₹33790</div>
                                    </div>
                                </div>
                                <ul class="bbb_marks">
                                    <li class="bbb_mark bbb_discount">-25%</li>
                                    <li class="bbb_mark bbb_new">new</li>
                                </ul>
                                <div class="bbb_fav"><i class="fas fa-heart"></i></div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="bbb_item is_new">
                                <div class="bbb_image d-flex flex-column align-items-center justify-content-center"><img src="https://i.imgur.com/GEvakkz.jpg" alt=""></div>
                                <div class="bbb_content">
                                    <div class="bbb_category"><a href="#">Mobile Phones</a></div>
                                    <div class="bbb_info clearfix">
                                        <div class="bbb_name"><a href="#">MI Mobile</a></div>
                                        <div class="bbb_price">₹13079</div>
                                    </div>
                                </div>
                                <ul class="bbb_marks">
                                    <li class="bbb_mark bbb_discount">-25%</li>
                                    <li class="bbb_mark bbb_new">new</li>
                                </ul>
                                <div class="bbb_fav"><i class="fas fa-heart"></i></div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="bbb_item is_new">
                                <div class="bbb_image d-flex flex-column align-items-center justify-content-center"><img src="https://i.imgur.com/u94q4wq.jpg" alt=""></div>
                                <div class="bbb_content">
                                    <div class="bbb_category"><a href="#">Power Bank</a></div>
                                    <div class="bbb_info clearfix">
                                        <div class="bbb_name"><a href="#">MI Powerbank</a></div>
                                        <div class="bbb_price">₹2379</div>
                                    </div>
                                </div>
                                <ul class="bbb_marks">
                                    <li class="bbb_mark bbb_discount">-25%</li>
                                    <li class="bbb_mark bbb_new">new</li>
                                </ul>
                                <div class="bbb_fav"><i class="fas fa-heart"></i></div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="bbb_item">
                                <div class="bbb_image d-flex flex-column align-items-center justify-content-center"><img src="https://i.imgur.com/u94q4wq.jpg" alt=""></div>
                                <div class="bbb_content">
                                    <div class="bbb_category"><a href="#">Power Bank</a></div>
                                    <div class="bbb_info clearfix">
                                        <div class="bbb_name"><a href="#">HP Powerbank</a></div>
                                        <div class="bbb_price">₹3379</div>
                                    </div>
                                </div>
                                <ul class="bbb_marks">
                                    <li class="bbb_mark bbb_discount">-25%</li>
                                    <li class="bbb_mark bbb_new">new</li>
                                </ul>
                                <div class="bbb_fav"><i class="fas fa-heart"></i></div>
                            </div>
                        </div>
                        <div class="owl-item">
                            <div class="bbb_item is_new">
                                <div class="bbb_image d-flex flex-column align-items-center justify-content-center"><img src="https://i.imgur.com/f2rCLOO.jpg" alt=""></div>
                                <div class="bbb_content">
                                    <div class="bbb_category"><a href="#">Mobile Phones</a></div>
                                    <div class="bbb_info clearfix">
                                        <div class="bbb_name"><a href="#">Gionee phone</a></div>
                                        <div class="bbb_price">₹10379</div>
                                    </div>
                                </div>
                                <ul class="bbb_marks">
                                    <li class="bbb_mark bbb_discount">-25%</li>
                                    <li class="bbb_mark bbb_new">new</li>
                                </ul>
                                <div class="bbb_fav"><i class="fas fa-heart"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  {% endblock %}
</body>

</html>