{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
    <title>Our Story - MeFamily Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
  
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
    <!-- Template Main CSS File -->
    <link href="../templates/assets/css/style.css" rel="stylesheet">
  
  </head>



<style>

.story-intro .content h3 {
      font-weight: 600;
      font-size: 26px;
    }
    
    .story-intro .content ul {
      list-style: none;
      padding: 0;
    }
    
    .story-intro .content ul li {
      padding-bottom: 10px;
    }
    
    .story-intro .content ul i {
      font-size: 20px;
      padding-right: 4px;
      color: #006fbe;
    }
    
    .story-intro .content p:last-child {
      margin-bottom: 0;
    }
    

  



    </style>

<body>

  <header class="masthead">
    <div class="overlay">            
    <h1 align="center" style="color: #6f8f72; font-size: 36px; font-family: Poppins, sans-serif;">
           
    </h1>
    <img src="" alt="">
   
    </div>

    <br>
    <br>
</header>
  
  <main id="main">

    <header class="masthead">
      <div class="overlay">            
      <h1 align="center" style="color: #164a4f; font-size: 36px; font-family: Poppins, sans-serif;">
          Sobre Nós      
      </h1>
      <img src="" alt="">
     
      </div>
  
      <br>
      <br>
  </header>

 <!-- ======= Story Intro Section 1 ======= -->
 <section id="story-intro" class="story-intro">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 order-xlg-2 order-lg-2 justify-content-center" >
            
            <div class="card p-0" style=" max-width: 100%; max-height: 500px; cursor: pointer;  object-fit: scale-down; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);">
                <div class="card-image" >                
                    <img src="https://images.pexels.com/photos/12461880/pexels-photo-12461880.jpeg?auto=compress&cs=tinysrgb&w=1600"  class="img" 
                        alt="">
                </div>
                <div class="card-content d-flex flex-column align-items-center">
                    <h4 class="pt-2">Montanha</h4>
                    <h5>Norte Noruega</h5>
        </div>
    </div>
</div>
        <div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-1">
          <h3 style="color:#164a4f" align="start">A CooperPalmas.</h3><br>
          <p class="fst-italic">
            Apesar de já criada, a CooperPalmas ainda precisa registrar sua ata, seu Estatuto e tirar o CNPJ. 
            Enquanto isso, os boletos continuarão sendo emitido pela Coohaj e os pagamentos deverão ser feitos da mesma forma, 
            até que todos sejam comunicados sobre as novas estruturas e dinâmicas de funcionamento.

          </p>
          
          <p>
            Funcionamento - Apesar de já estar criada a Cooperativa Agroambiental Palmas do Lago Oeste, até estarem formalizados o CNPJ e os demais documentos e representatividade financeira,
              como abertura de conta em banco, entre outras providências, os(as) cooperados(as) continuarão saldando seus boletos mensais, bem como outras obrigações 
              que tenham pendentes, 
              naturalmente como vêm fazendo por meio da Coohaj até que sejam comunicados sobre as novas estruturas e dinâmicas de funcionamento.
          </p>
        </div>
      </div>

    </div>
    <br>
  </section> <br> <!-- End Story
    Intro Section 2 -->
<br>
  <section id="story-intro" class="story-intro">
    <div class="container" >
      <div class="row">
        <div class="col-lg-4 order-xlg-2 order-lg-1 justify-content-center" >
         
            <div class="card p-0"  style=" max-width: 100%; max-height: 500px; cursor: pointer;  object-fit: contain; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);">
                <div class="card-image" >
                    <img src="https://www.coohaj.org.br/COOHAJ/arquivos/Empreendimentos/Lago%20Oeste/Lago%20Oeste%20(2).jpg" align-self="end" class="img" width="100%" height="750px" max-width="100%" max-height="auto" object-fit='cover'
                        alt="">
                </div>
                <div class="card-content d-flex flex-column align-items-center">
                    <h4 class="pt-2">Portaria da Cooperativa</h4>
                    <h5>2009</h5>
        </div>
    </div>
</div>

<div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-2">
          <h3 style="color:#164a4f" align="end">O LAGO OESTE.</h3>   <br>       
            <p class="fst-italic">
              O Núcleo Rural Lago Oeste é a região mais ecológica, com natureza preservada e com as mais belas paisagens naturais do Distrito Federal. Localizado na Região Administrativa 
              de Sobradinho, a cerca de 25 km da Torre de TV do Eixo Monumental, o Lago Oeste está  situado na APA do Planalto Central (ICMBio) e na APA do Cafuringa 
              (IBRAM-DF), e abriga em sua área a Reserva Biológica da Contagem e parte do Parque Nacional de Brasília.
            </p>
            <ul>              
              <li> Nas propriedades participantes, as pessoas vivenciam experiências únicas, 
                repletas de sabores e aromas, e têm à disposição muita diversão, lazer, descanso e aventura.</li>
                <li><i class="bi bi-check"></i> Apenas a 22km do centro de Brasília!.</li>
        </div>
      </div>
    </div>
    <br>
  </section><!-- End Story Intro Section -->
<br>
 <!-- ======= Story Intro Section  3 ======= -->
 <section id="story-intro" class="story-intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 order-xlg-2 order-lg-2 justify-content-center" >
          
          <div class="card p-0"  style=" max-width: 100%; max-height: 500px; cursor: pointer;  object-fit: contain; box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);">
              <div class="card-image" >
                  <img src="https://imgbr.imovelwebcdn.com/avisos/2/29/42/60/77/22/720x532/1538005490.jpg" align-self="end" class="img"  align-self="end" class="img" width="100%" height="750px" max-width="100%" max-height="auto" object-fit='cover'
                      alt="">
              </div>
              <div class="card-content d-flex flex-column align-items-center">
                  <h4 class="pt-2">Portaria da Cooperativa</h4>
                  <h5>2014</h5>
      </div>
  </div>
</div>

      <div class="col-lg-8 pt-4 pt-lg-0 order-2 order-lg-1">
        <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
        <p class="fst-italic">
          O Núcleo Rural Lago Oeste é a região mais ecológica, com natureza preservada e com as mais belas paisagens naturais do Distrito Federal. Localizado na Região Administrativa 
          de Sobradinho, a cerca de 25 km da Torre de TV do Eixo Monumental, o Lago Oeste está  situado na APA do Planalto Central (ICMBio) e na APA do Cafuringa 
          (IBRAM-DF), e abriga em sua área a Reserva Biológica da Contagem e parte do Parque Nacional de Brasília.
        </p>
        <ul>              
          <li><i class="bi bi-check"></i> Nas propriedades participantes, as pessoas vivenciam experiências únicas, 
            repletas de sabores e aromas, e têm à disposição muita diversão, lazer, descanso e aventura.</li>
            <li><i class="bi bi-check"></i> Apenas a 22km do centro de Brasília!.</li>
        </ul>
      </div>
    </div>
   
</section><!-- End Story Intro Section -->

<br><br><br><br><br><br>
<h1 align="center" style="color: #164a4f; font-size: 40px; font-family: Poppins, sans-serif;"> <u> Diretoria</u></h1>
<br>
<br><br>
<h1 align="center" style="color: #164a4f; font-size: 20px; font-family: Poppins, sans-serif;"> <u> Conselho de ética </u></h1>

<br><br><br><br><br>
{% block diretoria %} {% include 'diretoria.html' %} {% endblock diretoria %}
</div>
<br>

<br><br><br><br>
{% endblock %}


</main>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../templates/assets/js/main.js"></script>


</body>

